.wrapper {
  width: 85%;
  background-color: rgb(64, 6, 114);
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1rem;
  border-radius: 2em;
}
button {
  padding: 1rem;
  border-radius: 1em;
  background-color: rgb(96, 32, 148);
  color: rgb(202, 166, 231);
}
.addNewMovie {
  display: none;
}
.addNewMovie.show {
  display: flex;
}
body {
  background-color: rgb(33, 23, 41);
}
#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  gap: 1rem;
}
.movieCard {
  max-width: 250px;
  height: 500px;
  margin: 0 auto;
  border-radius: 1rem;
  border: solid #5b6dcd 3px;
  background-color: rgb(135, 187, 222);
  opacity: 50%;
}
.elementOfMoviePlot {
  font-weight: 600;
  font-style: italic;
  color: rgb(40, 8, 66);
}
.elementOfMovieRuntime {
  font-weight: 800;
  font-style: italic;
}
.elementOfMovieTitle {
  font-size: 1.5rem;
}

.sorting {
  text-align: right;
  color: blueviolet;
  font-weight: 900;
}
#movieSort {
  background-color: rgb(64, 6, 114);
}
